<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask and Sqlite</title>
</head>
<body>
    <h1>Build Web Apps using Flask and Sqlite</h1>
    <button class="btn" type="button" onclick="window.location.href='{{url_for('join')}}';">
        Fill Forms to get updates
    </button>
    <button class="btn" type="button" onclick="window.location.href='{{url_for('participants')}}';">
        Check Participant lists
    </button>
</body>
</html>